body {
  position: relative;
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  height: 95vh;
  font-family: sans-serif;
  background: url("../../img/simon-berger-twukN12EN7c-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $darkblue;
  font-family: $poppins;
  @media (max-width: $sm) {
    height: 100vh;
    background: none;
  }
}

.show {
  display: block !important;
}

.active {
  background: $lightgray;
  border-right: none;
}

.active-light {
  background: #F3D5C0 !important;
  border-right: none;
}

.error {
  background-color: #EE4B2B !important;
  display: block !important;
}

.success {
  background-color: #9ccc65 !important;
  display: block !important;
}

.move-right {
  animation: moveRight 0.5s forwards !important;
  background-color: #D4B499 !important;
}

.move-left {
  animation: moveLeft 0.5s forwards !important;
}

.light-theme {
  background: #D4B499 !important;
  border-color: #F3D5C0 !important;
}

.light-tab {
  color: #000 !important;
  border-right-color: #F3D5C0 !important;
  border-left-color: #F3D5C0 !important;
}

.mobile-light-menu {
  background-color: #F3D5C0 !important;
  color: #000 !important;
}


