body {
  position: relative;
  max-width: 1200px;
  margin: auto;
  height: 95vh;
  font-family: sans-serif;
  background: url("../../img/simon-berger-twukN12EN7c-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $darkblue;
  font-family: $poppins;
}

