.window {
  position: absolute;
  width: 95%;
  height: 95%;
  border: solid $lightgray 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 0.7rem;
  @media (max-width: $sm) {
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }
  &__header {
    width: 100%;
    height: 3.5rem;
    background: $darkgray;
    border-top-right-radius: 0.55rem;
    border-top-left-radius: 0.55rem;
    border-bottom: 0.5rem solid $lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @media (max-width: $sm) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      justify-content: space-between;
    }
  }

  &__header-switcher {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    width: 32px;
    height: 16px;
    background-color: #fff;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__header-switcher-circle {
    margin: 0 0.2rem;
    min-width: 12px;
    min-height: 12px;
    background-color: $darkgray;
    border-radius: 50%;
  }

  &__header-mobile-heading {
    display: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    @media (max-width: $sm) {
      display: block;
    }
  }

  &__header-hamburger {
    position: relative;
    display: none;
    margin-right: 1rem;
    cursor: pointer;
    @media (max-width: $sm) {
      display: block;
    }
  }

  &__header-hamburger-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }

  &__header-hamburger-menu {
    display: none;
    background-color: $lightgray;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    position: absolute;
    top: 50px;
    right: 0;
    color: #fff;
    z-index: 1;
  }

  &__header-hamburger-item {
    padding: 0.75rem;
  }

  &__header-tabs {
    margin-top: 1rem;
    margin-left: 5rem;
    display: flex;
    @media (max-width: $sm) {
      display: none;
    }
  }

  &__header-tab {
    @include tab;
  }

  &__main {
    height: calc(100% - 3.5rem);
    // background: #d5d5d5;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    overflow-y: auto;
    @media (max-width: $sm) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
